<tr>
  <td><%= team.id %></td>
  <td><%= team.name %></td>
  <td>
    <%= team.users.map(&:full_name).join(" | ") %>
  </td>
  <td> <%= @stat[team.id] || 0 -%> / <%= team.matches_counter -%></td>
  <td><%= link_to 'Edit', edit_team_path(team) -%></td>
</tr>
