<% content_for :page_header do %>
  <%= @match.teams.map(&:name).join(' vs ') -%>
<% end %>

<table class="table table-bordered table-hover">
  <tr>
    <th>#Game</th>
    <th>Score</th>
    <th>Winner</th>
    <th>Edit</th>
  </tr>
  <% @match.games.each_with_index do |game, index| %>
    <tr>
      <td><%= index + 1 %></td>
      <td><%= game.score %></td>
      <td><%= game.winning_team.name %></td>
      <td> <%= link_to "Edit", edit_match_game_path(@match, game) %></td>
    </tr>
  <% end %>
</table>
<%= link_to "New Game", new_match_game_path(@match), class: "btn btn-primary" %>
